{% extends 'school/base.html' %}



{% block content %}
<div class="container">
    <form class="example" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
</div>

<div class="container">
    <br><br>
    
    {% if check == 'found' %}
        {% if result.photo %}
        <div class="container">
            <img src="{{result.photo.url}}" width="200">
        </div>
        {% else %}
    <div class="container">
        <img src="../media/student_photoes/default_photo.png" width="200">
    </div>
        {% endif %}
    <p>ID: {{result.student_id}} ชื่อนักเรียน: {{result.student_name}}</p>
    {% elif check == 'notfound' %}
    <p>{{result}}</p>
    {% else %}
    <p>ค้นหาข้อมูลโดยกรอกรหัสประจำตัว</p>
    {% endif %}
</div>

{% endblock content %}